%section#main{style: "background-image: url(#{asset_url(Setting.cover_image.url)});"}
	.cover 
		%h1.cover-title Dolish is Coming!
		%h3.cover-subtitle Respecting your taste buds and wallet...Woot woot!
		.special
			%span.spec-ico.fa.fa-key
			Be the first to know and score free dough.
		#form-wrapper
			= render "form"
		%img.incentive(src="assets/win-year-subscription.png")
		%small No spam. Just dough. We promise.
		%img.logo(src="assets/logo-white.png")
		%footer
			%p
				/ jrose
				/ Powered by 
				/ %a{href: "http://prelauncher.io"} Prelauncher.io

