%section#main{style: "background-image: url(#{asset_url(Setting.cover_image.url)});"}
	.cover 
		%h1.cover-title Dolish is Coming!
		%h3.cover-subtitle Respecting your taste buds and your wallet...Ahhh yeah.
		/ %img.incentive(src="assets/teaser-win-lifetime-subscription-top.png")
		.special Be the first to know!
		#form-wrapper
			= render "form"
		%img.incentive(src="assets/teaser-win-lifetime-subscription-bottom.png")
		%small We only deal in dough, not spam...we promise.
		%img.logo(src="assets/logo.png")
		%footer
			%p
				/ jrose
				/ Powered by 
				/ %a{href: "http://prelauncher.io"} Prelauncher.io

