@import url('https://fonts.googleapis.com/css?family=Montserrat');

#content-wrapper {
    width: 100%;
}

#main{
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0px;
	width: 100%;
  display: table;
  /* jrose */
  background-position-x: 46.6%;
}

.cover{
	margin-left: auto;
	margin-right: auto;
	/* jrose text-align: center; */
	vertical-align: middle;
	display: table-cell;
  /* jrose background-color: rgba(0, 0, 0, 0.4); */
  /* jrose start */
  background-color: rgba(0, 0, 0, 0.03);
  /* jrose end */
}

/* jrose start */
.logo {
width: 25%;
max-width: 230px;
margin: 60px 60px 60px;
}
/* jrose end */

.cover-title{
  /* jrose hide
  color: #FFF;
  font-size: 50px;
  font-weight: 400;
  width: auto;
	text-align: center;
  margin: 0px auto;
  text-transform: uppercase; */
  
  /* jrose add */
  color: #3E1784;
  font-size: 76px;
  font-weight: 900;
	font-family: 'Montserrat', sans-serif;
  padding: 30px;
  width: 35%;
  margin: 30px 30px 0 30px;
  line-height: 1;
}

.cover-subtitle{
  /* jrose font-size: 20px; */
	/* jrose max-width: 600px; */
	/* jrose text-align: center; */
  /* jrose margin: 50px auto; */
  /* jrose line-height: 1.2; */
  /* jrose start */
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  font-size: 20px;
	color: #FFF;
	font-weight: 600;
  line-height: 1.45;
  margin: -5px 0 60px 30px;
  padding: 0px 30px;
  max-width: 470px;
  /* jrose  end*/
}
/* jrose start */
.incentive {
  max-width: 342px;
  margin: 0px 60px 5px;
}

.special {
  color: #3E1784;;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  padding: 5px 0;
  margin: 0 60px;
}

#form-wrapper {
  margin: 0 60px;
  height: 52px;
}
/* jrose end */

#new_user {
  width: auto;
  /* jrose margin: 10px auto; */
	padding: 0px;
	display: inline-block;
  border: medium none;
  /* jrose start */
  margin: 5px auto 10px;
}

#new_user .form-group{
	display: inline-block;
}

#new_user .form-control{
	height: 45px;
	border-radius: 0px;
  /* jrose hide font-size: 18px;
  */
  font-size: 16px;
	width: 100%;
	float: left;
	display: inline-block;	
}

#new_user .btn {
    height: 45px;
    border-radius: 0px;
    /* jrose hide
    font-size: 20px;
    background-color: #4EC9ED;
    padding: 12px;
    */

    /* jrose add */
    color: #FFF;
    font-weight: 600;
    width: auto;
    font-size: 16px;
    float: left;
    display: inline-block;
    padding: 12px 19px 12px 20px;
    background-color: #F5645E;   
    /* jrose end */
}

.cover small{
	font-size: 16px;
	color: #FFF;
	font-weight: 400;
	text-transform: none;
	/* jrose text-align: center; */
	/* margin: 0px auto; */
  display: block;
  /* jrose start */
  /* padding-left: 80px;
  /* jrose end */
  margin: 0px 60px;
}

#refer{

	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
	top: 0px;
	width: 100%;
	display: table;
	padding-top: 50px;
	margin-bottom: 50px;
	background-size: cover;
	border-bottom: medium none;	
}

#copy h3{
	font-size: 18px;
	color: #FFF;
	font-weight: 400;
	margin: 30px auto 0px 50px;
	text-align: left;
	width: auto;
	text-transform: uppercase;
}

#copy h1 {
	font-size: 25px;
	color: #1ABC9C;
	font-weight: 800;
	margin: 5px auto 25px 50px;
	text-align: left;
	width: auto;
	text-transform: uppercase;	
}

#refer input {
    height: 35px;
    border-radius: 0px;
    font-size: 14px;
    width: 85%;
    margin: 10px 0px 25px 50px;
    text-align: center;
    line-height: 30px;
}

#refer p{
    font-size: 16px;
    color: #FFF;
    font-weight: 400;
    margin: 0px auto 0px 50px;
    text-align: left;
    width: auto;
    text-transform: none;
}

#social-sharing {
    text-align: center;
    margin-top: 30px;
}

.contact-socials {
    display: inline-block;
}

.contact-socials li {
    padding: 0px 15px;
    float: left;
    transition: all 250ms ease-in-out 0s;
    text-align: center;
    border-right: 1px solid white;
}

.contact-socials li:last-child{
	border: none;
}

.ico-facebook {
    color: #3B5998;
}

.ico-facebook:hover{
	color: #3B5998;
	opacity: 0.8;
}

.contact-socials i.fa {
    font-size: 30px
}

.ico-twitter {
    color: #00A9ED;
}

.ico-twitter:hover{
	 color: #00A9ED;
	 opacity: 0.8;
}

.ico-pinterest{
    color: #bd081c;
}

.ico-pinterest:hover, .ico-pinterest:focus{
    color: #bd081c;
  opacity: 0.8;
}

.ico-gplus{
    color: #d34836;
}

.ico-gplus:hover, .ico-gplus:focus{
    color:  #d34836;
    opacity:0.8
}

.ico-mail {
    color: #25A3DC;
}

.ico-mail:hover{
	color: #25A3DC;
	opacity: 0.8;
}

aside h4{
    font-size: 18px;
    color: #333;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: none;
}

.cover footer {
  position: absolute;
  /* jrose width: 100%; */
  width: 0;
  bottom: 0px;
  color: white;  
}

.cover footer a {
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 980px){


  #refer article p.small {
    display: none;
  }

  #refer figcaption {
    display: block;
  }


    #refer input {
      height: 30px;
      font-size: 19px;
      margin-top: 10px;
      line-height: 30px;
    }

    #refer figcaption{
      margin-top: 10px;
    }


    #refer h2 {
      padding-top: 20px;
      font-size: 22px;
      padding-bottom: 15px;
    }


}

@media screen and (max-width: 850px){
  



  #refer input {
    height: 30px;
    font-size: 18px;
    margin-top: 10px;
    line-height: 30px;
  }


  #refer figure{
    margin-top: 18px;
  }

  #refer h2 {
    line-height: 30px;
  }

  /* jrose start */
  #main  {
    background-position-x: 26.5%;
  }

  .logo {
  max-width: 260px;
  margin: 0px 40px 20px;
  } 

  .cover-title {
  padding: 0px 40px;
  }

  .cover-subtitle {
    padding: 0px 40px;
  }

  .incentive {
    margin: 0px 40px;
  }

  .cover small {
    margin: 20px 40px;
  }

  #form-wrapper {
    margin: 0px 40px;
  }

  /* jrose end */


}


@media screen and (max-width: 800px){



  .refer-left {
    padding: 0;
  }

  #refer input {
    height: 30px;
    font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 30px;
  }


  #refer figure{
    margin-top: 18px;
  }

  #refer h2 {
    line-height: 30px;
  }


}

@media screen and (max-width: 768px){

  #refer input {
    height: 28px;
    font-size: 17px;
    margin-top: 5px;
    line-height: 28px;
  }

  /* jrose start */
  #main  {
    background-position-x: 56.5%;
  }

  .cover-subtitle {
    font-size: 27px;
    line-height: 1.3;
  }
  /* jrose end */


  #refer p{
    line-height: 1.15;
  }

}

@media screen and (max-width: 767px){

  #reinforcement p{
    text-align: center;
  }

  #copy h1, #copy h3, #refer p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #refer input{
    margin-left: auto;
    margin-right: auto;
    font-size: 14px; 
  }

  #refer p {
    font-size: 17px;
  }

  #refer h1 {
    font-size: 30px;
    margin: 15px auto 20px;
  }

  /* jrose start */
  #new_user {
    margin: 5px auto 0;
  }
  /* jrose end */

}

@media screen and (max-width: 600px){
  .cover {
    padding: 0 5px;
  }

    .cover-heading {
    font-size: 5vw;
  }

    #new_user input {
    font-size: 20px;
  }

    #new_user .user_email {
    margin-right: -4px;
  }

    #new_user .submit {
    min-width: 80px;
  }

/* jrose start */
#main  {
  background-position-x: 47.5%;
}

.logo {
max-width: 260px;
margin: 40px 24px 20px;
} 

.cover-title {
padding: 0px 24px;
}

.cover-subtitle {
  padding: 0px 24px;
  width: 70%;
}

.incentive {
  margin: 0px 24px;
  width: 84%;
}

.cover small {
  margin: 20px 24px;
}

#form-wrapper {
  margin: 0px 24px;
}
/* jrose end */

}

@media screen and (max-width: 500px){

    #new_user .user_email {
    width: 60%;
  }

    #new_user .submit {
    width: 40%;
  }

  #prizes{
  	margin: 100px 20px;
  }



}



@media screen and (max-width: 450px){
     #new_user input {
      font-size: 18px !important;
  }

    .cover-heading {
    font-size: 30px;
  }

    #new_user {
    width: 100%;
  } 

    #new_user .user_email {
    width: 55%;
  }

    #new_user .submit {
    width: 45%;
  }

  .cover-title {
  	font-size: 36px;
  }

  .cover-subtitle {
    font-size: 18px;
  }

  .contact-socials li {
    padding: 0px 10px;
  }

  /* jrose start */
  .logo {
    max-width: 210px;
  } 
  /* jrose end */

}

@media screen and (max-width: 414px){
  #new_user input {
    font-size: 16px !important;
  }
    #new_user .user_email {
   width: 51%;
  }

    #new_user .submit {
    width: 45%;
  }

  .contact-socials i.fa {
      font-size: 25px;
  }

  /* jrose start */
  #main  {
    background-position-x: 48%;
  }

  .cover-title {
    margin: 0px 10px 5px;
    padding: 10px;
    font-size: 55px;
    width: 75%;
    /* color: #fff; */
    text-shadow: 0px 0px 30px rgba(253, 187, 35, 1.0), 0px 0px 50px rgba(253, 187, 35, 1.0);
  }
  .cover-subtitle {
    margin: 0px 0px 25px 0px;
    font-size: 20px;
    width: 80%;
    text-shadow: 0px 0px 30px rgba(253, 187, 35, 1.0), 0px 0px 50px rgba(253, 187, 35, 1.0);
  }

  .logo {
    width: 50%;
    max-width: 200px;
    margin: 30px 0px 35px 20px;
  }

  .cover small {
    margin: 0 24px;
    width: 90%;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, .5);
    font-size: 18px;
  }

  .incentive {
    margin: 48px 24px 0;
  }

  .special {
    margin: 0 24px;
    /* color: #fff; */
    font-size: 14px;
    font-weight: 700;
    text-shadow: 0px 0px 30px rgba(253, 187, 35, 1.0), 0px 0px 51px rgba(253, 187, 35, 1.0);
  }

  .form-group {
    margin-bottom: 5px;
  }

  #new_user {
    margin: 0px;

    .submit {
    width: 100%;
    }
    .user_email {
      width: 100%;
      margin-bottom: 3px;
    }
    .btn {
      width: 100%;
    }
  }

  .cover footer {
    width: 0;  
  }

}

@media screen and (max-width: 375px){
  #new_user input {
    font-size: 16px !important;
  }
    #new_user .user_email {
   width: 51%;
  }

    #new_user .submit {
    width: 45%;
  }

  .contact-socials i.fa {
      font-size: 25px;
  }

  /* jrose start */
  #main  {
    background-position-x:48%;
  }

  .cover-title {
    margin: 28px 10px 5px;
    padding: 10px;
    font-size: 48px;
    width: 75%;
    /* color: #fff; */
  }
  .cover-subtitle {
    margin: 0px 0px 25px 0px;
    width: 82%;
    font-size: 18px;
    line-height: 1.2;
  }

  .logo {
    width: 45%;
    max-width: 200px;
    margin: 30px 0px 35px 20px;
  }

  .cover small {
    margin: 0 24px;
    width: 93%;
    font-size: 15px;
  }

  .incentive {
    margin: 48px 24px 0;
  }

  .special {
    margin: 0 24px;
    color: #fff;
  }

  .form-group {
    margin-bottom: 5px;
  }

  #new_user {
    margin: 0px;

    .submit {
    width: 100%;
    }
    .user_email {
      width: 100%;
      margin-bottom: 3px;
    }
    .btn {
      width: 100%;
    }
  }

  .cover footer {
    width: 0;  
  }

}

@media screen and (max-width: 360px){
  #new_user input {
    font-size: 16px !important;
  }
    #new_user .user_email {
   width: 51%;
  }

    #new_user .submit {
    width: 45%;
  }

  .contact-socials i.fa {
      font-size: 25px;
  }

  /* jrose start */
  #main  {
    background-position-x: 48.5%;
  }

  .cover-title {
    margin: 28px 10px 5px;
    padding: 10px;
    font-size: 45px;
    width: 75%;
    /* color: #fff; */
  }
  .cover-subtitle {
  margin: 0px 0px 25px 0px;
  width: 80%;
  }

  .logo {
    width: 50%;
    max-width: 200px;
    margin: 30px 0px 35px 20px;
  }

  .cover small {
    margin: 0 24px;
    width: 85%;
  }

  .incentive {
    margin: 48px 24px 0;
  }

  .special {
    margin: 0 24px;
    color: #fff;
  }

  .form-group {
    margin-bottom: 5px;
  }

  #new_user {
    margin: 0px;

    .submit {
    width: 100%;
    }
    .user_email {
      width: 100%;
      margin-bottom: 3px;
    }
    .btn {
      width: 100%;
    }
  }

  .cover footer {
    width: 0;  
  }

}



@media screen and (max-width: 320px){
  #new_user input {
    font-size: 16px !important;
  }
    #new_user .user_email {
   width: 51%;
  }

    #new_user .submit {
    width: 45%;
  }

  .contact-socials i.fa {
      font-size: 25px;
  }

  /* jrose start */
  #main  {
    background-position-x: 48%;
  }

  .cover-title {
    margin: 28px 10px 5px;
    padding: 10px;
    font-size: 45px;
    width: 75%;
    /* color: #fff; */
  }
  .cover-subtitle {
  margin: 0px 0px 25px 0px;
  width: 80%;
  }

  .logo {
    width: 46%;
    max-width: 200px;
    margin: 26px 0px 35px 20px;
  }

  .cover small {
    margin: 0 24px;
    width: 85%;
    text-shadow: 0px 0px 8px #B98100;
  }

  .incentive {
    margin: 48px 24px 0;
  }

  .special {
    margin: 0 24px;
    color: #fff;
  }

  .form-group {
    margin-bottom: 5px;
  }

  #new_user {
    margin: 0px;

    .submit {
    width: 100%;
    }
    .user_email {
      width: 100%;
      margin-bottom: 3px;
    }
    .btn {
      width: 100%;
    }
  }

  .cover footer {
    width: 0;  
  }

}

@media screen and (max-width: 300px){

    .contact-socials li {
      padding: 0 5px;
  }

  .contact-socials i.fa {
      font-size: 22px;
  }

	#new_user .btn{
		margin-left: auto;
	}

    #new_user .form-group{
    width: 100%;
  }

    #new_user .submit{
    margin-top: -15px;
  }

    .cover-title {
    font-size: 30px;
    /* jrose start */
    padding-left: 8px;
    padding-right: 16px;
    margin: 8px;
    /* jrose end */
  }
  
  .cover-subtitle {
    font-size: 16px;
    /* jrose start */
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.4;
    /* jrose end */
  }

    #new_user input {
      width: 100% !important;
      font-size: 18px !important;
  }
  /* jrose start */
  .incentive {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #form-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
