#content-wrapper {
    width: 100%;
}

#main{
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	top: 0px;
	width: 100%;
  display: table;
  /* jrose */
  background-position-x: 46.6%;
  background-position-y: center;
}

.cover{
	margin-left: auto;
	margin-right: auto;
	/* jrose text-align: center; */
	vertical-align: middle;
	display: table-cell;
  /* jrose background-color: rgba(0, 0, 0, 0.4); */
  /* jrose start */
  background-color: rgba(0, 0, 0, 0.00);
  /* jrose end */
}

/* jrose start */
.logo {
width: 25%;
max-width: 230px;
margin: 60px 60px 60px;
}
/* jrose end */

.cover-title{
  /* jrose hide
  color: #FFF;
  font-size: 50px;
  font-weight: 400;
  width: auto;
	text-align: center;
  margin: 0px auto;
  text-transform: uppercase; */
  
  /* jrose add */
  color: #fff;
  font-size: 76px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  padding: 5% 30px 0;
  width: 50%;
  margin: 0px 30px 20px;
  line-height: 1;
}

.cover-subtitle {
  /* jrose font-size: 20px; */
	/* jrose max-width: 600px; */
	/* jrose text-align: center; */
  /* jrose margin: 50px auto; */
  /* jrose line-height: 1.2; */
  /* jrose start */
  font-family: 'Montserrat', sans-serif;
  text-transform: none;
  font-size: 20px;
	color: #FFF;
	font-weight: 600;
  line-height: 1.45;
  margin: 0 30px 40px;
  padding: 0px 30px;
  /* max-width: 470px; */
  /* jrose  end*/
}
/* jrose start */
.incentive {
  max-width: 300px;
  margin: 5px 60px 5px;
}

.special {
  color: #FFF;
  font-size: 17px;
  line-height: 21px;
  padding: 5px 0;
  margin: 0 60px;
}

#form-wrapper {
  margin: 0 60px;
  height: 52px;
}
/* jrose end */

#new_user {
  width: auto;
  /* jrose margin: 10px auto; */
	padding: 0px;
	display: inline-block;
  border: medium none;
  /* jrose start */
  margin: 5px auto 10px;
}

#new_user .form-group{
	display: inline-block;
}

#new_user .form-control{
	height: 45px;
	border-radius: 0px;
  /* jrose hide font-size: 18px;
  */
  font-size: 15px;
	width: 100%;
	float: left;
	display: inline-block;	
}

#new_user .btn {
    height: 45px;
    border-radius: 0px;
    /* jrose hide
    font-size: 20px;
    background-color: #4EC9ED;
    padding: 12px;
    */

    /* jrose add */
    color: #FFF;
    font-weight: 600;
    width: auto;
    font-size: 15px !important;
    float: left;
    display: inline-block;
    padding: 12px 19px 12px 20px;
    background-color: #424242;   
    /* jrose end */
}

.cover small{
	font-size: 16px;
	color: #FFF;
	font-weight: 400;
	text-transform: none;
	/* jrose text-align: center; */
	/* margin: 0px auto; */
  display: block;
  /* jrose start */
  /* padding-left: 80px;
  /* jrose end */
  margin: 0px 60px;
}

#refer{

	height: 400px;
	/* ackground-size: cover; */
	background-repeat: no-repeat;
  /*background-color: rgba(0, 0, 0, 0.4);*/
  background-color: #a2a2a2;
	top: 0px;
	width: 100%;
	display: table;
  border-bottom: medium none;
  background-size: 90%;
  background-position-x: -270%;
  background-position-y: bottom;
  /* jrose hide
  margin-bottom: 50px;
  padding-top: 50px;
  */
  /* jrose add */
  margin-bottom: 30px;
}
@media screen and (min-width: 768px){
  #copy {
    margin-top: 80px;
  }
}

#copy h3{
  font-size: 18px;
	color: #FFF;
	font-weight: 400;
	margin: 30px auto 0px 50px;
  width: auto;
  /* jrose hide
  text-transform: uppercase;
  text-align: left;
  */
  /* jrose add */
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#copy h1 {
  font-size: 25px;
  width: auto;
  margin: 5px auto 25px 50px;
  /* jrose hide
  color: #1ABC9C;
  text-transform: uppercase;
  text-align: left; 
  */
  /* jrose add */
  font-family: 'Montserrat', sans-serif;
  color: #fff;
	font-weight: 800;
  text-align: center;
}

#refer input {
    height: 35px;
    border-radius: 0px;
    font-size: 14px;
    width: 85%;
    margin: 10px 0px 25px 50px;
    text-align: center;
    line-height: 30px;
}

#refer p{
    color: #FFF;
    font-weight: 400;
    margin: 0px auto 0px 50px;
    width: auto;
    text-transform: none;
    /* jrose hide
    font-size: 16px;
    text-align: left;
    */
    /* jrose add */
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#social-sharing {
    text-align: center;
    /* jrose hide 
    margin-top: 30px;
    */
    /* jrose add */
    margin: 15px 0 0 50px;
}

.contact-socials {
    display: inline-block;
}

.contact-socials li {
    padding: 0px 15px;
    float: left;
    transition: all 250ms ease-in-out 0s;
    text-align: center;
    /* jrose hide
    border-right: 1px solid white;
    /
}

.contact-socials li:last-child{
	border: none;
}

.ico-facebook {
    /* jrose hide 
    color: #3B5998;
    */
    /* jrose add */
    color: #495057;
}

.ico-facebook:hover{
	color: #3B5998;
	opacity: 0.8;
}

.contact-socials i.fa {
    font-size: 30px
}

.ico-twitter {
  /* jrose hide
    color: #00A9ED;
  */
  /* jrose add */
  color: #495057;
}

.ico-twitter:hover{
	 color: #00A9ED;
	 opacity: 0.8;
}

.ico-pinterest{
  /* jrose hide
  color: #bd081c;
  */
  /* jrose add */
  color: #495057;
}

.ico-pinterest:hover, .ico-pinterest:focus{
    color: #bd081c;
  opacity: 0.8;
}

.ico-gplus{
    color: #d34836;
}

.ico-gplus:hover, .ico-gplus:focus{
    color:  #d34836;
    opacity:0.8
}

.ico-mail {
  /* jrose hide
    color: #25A3DC;
  */
  /* jrose add */
  color: #495057;
}

.ico-mail:hover{
	color: #25A3DC;
	opacity: 0.8;
}

aside h4{
    font-size: 18px;
    color: #333;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: none;
}

.cover footer {
  position: absolute;
  /* jrose width: 100%; */
  width: 0;
  bottom: 0px;
  color: white;  
}

.cover footer a {
  color: white;
  font-weight: 600;
}

@media screen and (max-width:  1150px) {
  .cover-subtitle  {
    width: 50%;
  }
}

@media screen and (max-width: 980px){

  #refer article p.small {
    display: none;
  }

  #refer figcaption {
    display: block;
  }


    #refer input {
      height: 30px;
      font-size: 19px;
      margin-top: 10px;
      line-height: 30px;
    }

    #refer figcaption{
      margin-top: 10px;
    }


    #refer h2 {
      padding-top: 20px;
      font-size: 22px;
      padding-bottom: 15px;
    }


}

@media screen and (max-width: 850px){
  
  #refer input {
    height: 30px;
    font-size: 18px;
    margin-top: 10px;
    line-height: 30px;
  }

  #refer figure{
    margin-top: 18px;
  }

  #refer h2 {
    line-height: 30px;
  }

  /* jrose start */
  #main  {
    background-position-x: 26.5%;
  }

  .logo {
  max-width: 270px;
  margin: 40px 30px;
  padding: 0 30px;
  width: 40%;
  } 

  #main  {
    background-position-x: 50%;
    background-position-y: center;
  }

  .cover-title {
  padding: 30px;
  width: 75%;
  }

  .cover-subtitle {
    padding: 0px 30px;
  }

  .incentive {
    margin: 5px 30px;
    padding: 0 40px;
    max-width: 360px;
  }

  .cover small {
    margin: 10px 30px;
    padding: 0 30px;
  }

  #form-wrapper {
    margin: 0px 30px;
    padding: 0 30px;
  }

  /* jrose end */


}


@media screen and (max-width: 800px){



  .refer-left {
    padding: 0;
  }

  #refer input {
    height: 30px;
    font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 30px;
  }


  #refer figure{
    margin-top: 18px;
  }

  #refer h2 {
    line-height: 30px;
  }


}

@media screen and (max-width: 768px){

  #refer input {
    height: 28px;
    font-size: 17px;
    margin-top: 5px;
    line-height: 28px;
  }

  /* jrose start */
  #main  {
    background-position-x: 40%;
  }

  .cover-subtitle {
    font-size: 20px;
    line-height: 1.3;
    width: 55%;
  }
  /* jrose end */


  #refer p{
    line-height: 1.15;
  }

  #reinforcement p{
    text-align: center;
  }

  #copy h1, #copy h3, #refer p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #refer input{
    margin-left: auto;
    margin-right: auto;
    font-size: 14px; 
  }

  #refer p {
    /* jrose hide 
    font-size: 17px;
    */
    font-size: 15px;
    /* line-height: 1.35px; */
  }

  #social-sharing {
    margin-left: 0px;
  }

  #refer h1 {
    font-size: 30px;
    /* jrose hide 
    margin: 15px auto 20px;
    */
    /* jrose add */
    margin: 5px auto 13px;
  }

  /* jrose start */
  #new_user {
    margin: 5px auto 0;
  }

  #refer {
    background-size: 800px;
    background-position-x: 840%;
    background-position-y: 190px;
  }
  /* jrose end */
}

@media screen and (max-width: 767px){
  #refer {
    background-size: 1070px;
    background-position-x: center;
    background-position-y: 140px;
  }

}

@media screen and (max-width: 670px){
  #refer {
    background-size: 800px;
    background-position-x: center;
    background-position-y: 190px;
  }
}

@media screen and (max-width: 656px){
  #refer {
    background-position-y: 215px;
  }
}

@media screen and (max-width: 600px){
  /*
  .cover {
    padding: 0 5px;
  }

    .cover-heading {
    font-size: 5vw;
  }

    #new_user input {
    font-size: 20px;
  }

    #new_user .user_email {
    margin-right: -4px;
  }

    #new_user .submit {
    min-width: 80px;
  }

/* jrose start */
/*
.logo {
max-width: 260px;
margin: 40px 24px 20px;
} 

#main  {
  background-position-x: 35%;
  background-position-y: center;
}

.cover-title {
  margin: 0px 10px 5px 20px;
  padding: 10px 0 10px 30px;
  font-size: 65px;
  width: 75%;
  color: #fff;
  
}
.cover-subtitle {
  margin: 0 0 30px 20px;
  padding: 0 0 0 30px;
  font-size: 18px;
  line-height: 26px;
  width: 75%;
}

.cover small {
  margin: 0 24px;
  padding: 0px;
  width: 90%;
  font-size: 14px;
}

.incentive {
  margin: 50px 24px 12px 28px;
  width: 55%;
  padding: 0px;
}

.special {
  width: 50%;
  margin: 0 0 7px 20px;
  padding: 0 0 0 30px;
  color: #fff;
  font-size: 15px;
  line-height: 21px;
}

#form-wrapper {
  margin: 0px 24px;
}

#refer {
  background-size: 500%;
  background-position-x: center;
  background-position-y: 8%;
}
/* jrose end */

/*
}
@media screen and (max-width: 550px){
*/
  #main  {
    background-position-x: 45%;
    background-position-y: center;
  }
  
  .cover-title {
    margin: 0px 20px 5px;
    padding: 12px;
    font-size: 65px;
    width: 75%;
    color: #fff;
    
  }
  .cover-subtitle {
    margin: 0px 0px 25px 20px;
    padding: 0 0 0 20px;
    font-size: 18px;
    line-height: 26px;
    width: 58%;
  }

  .special {
    width: 50%;
    margin: 0 0 7px 20px;
    padding: 0 0 0 20px;
    color: #fff;
    font-size: 15px;
    line-height: 21px;
  }

  #form-wrapper {
    margin: 0 20px;
    padding: 0 20px;
  }

  .incentive {
    margin: 5px 24px 12px 20px;
    width: 55%;
    padding: 0 20px 0 30px;
  }

  .cover small {
    margin: 0 20px;
    padding: 0 20px;
    width: 90%;
    font-size: 16px;
  }

  .logo {
    width: 50%;
    max-width: 230px;
    margin: 35px 0px 0px 20px;
    padding: 0 20px;
  }

  #refer {
    background-position-y: 215px;
  }
}

@media screen and (max-width: 500px){

    #new_user input {
    font-size: 16px !important;
  }
    #new_user .user_email {
   width: 51%;
  }

    #new_user .submit {
    width: 45%;
  }

  .contact-socials i.fa {
      font-size: 25px;
  }

  /* jrose start */
  #main  {
    background-position-x: 48%;
    background-size: 395%;
    background-position-y: center;
  }

  .cover-title {
    margin: 0px 12px 5px;
    padding: 12px;
    font-size: 55px;
    width: 75%;
    color: #fff;
    
  }
  .cover-subtitle {
    margin: 0px 0px 25px 12px;
    padding: 0 0 0 12px;
    font-size: 18px;
    line-height: 26px;
    width: 60%;
  }

  .logo {
    width: 50%;
    max-width: 170px;
    margin: 35px 0px 0px 20px;
    padding: 0px;
  }

  .cover {
    margin-top: 20px;
  }

  .cover small {
    margin: 0 24px;
    padding: 0px;
    width: 90%;
    font-size: 14px;
  }

  .incentive {
    margin: 50px 24px 12px 28px;
    width: 55%;
    padding: 0px;
  }

  .special {
    width: 50%;
    margin: 0 0 7px 12px;
    padding: 0 0 0 12px;
    color: #fff;
    font-size: 15px;
    line-height: 21px;
  }

  .form-group {
    margin-bottom: 5px;
  }

  #form-wrapper {
    padding: 0px;
  }

  #new_user {
    margin: 0px;
    width: 80%;

    .submit {
    width: 100%;
    }
    .user_email {
      width: 100%;
      margin-bottom: 3px;
    }
    .btn {
      width: 100%;
      font-size: 15px;
    }
    .form-control {
      text-align: center;
    }
  }

  .cover footer {
    width: 0;  
  }
}

@media screen and (max-width: 453px){
  #new_user input {
    font-size: 16px !important;
  }
    #new_user .user_email {
   width: 51%;
  }

    #new_user .submit {
    width: 45%;
  }

  .contact-socials i.fa {
      font-size: 25px;
  }

  /* jrose start */
  #main  {
    background-position-x: 48%;
    background-size: 395%;
    background-position-y: center;
  }

  .cover-title {
    margin: 0px 10px 5px;
    padding: 10px;
    font-size: 55px;
    width: 75%;
    color: #fff;
    
  }
  .cover-subtitle {
    margin: 0px 0px 25px 12px;
    font-size: 18px;
    line-height: 26px;
    width: 60%;
  }

  .logo {
    width: 50%;
    max-width: 170px;
    margin: 35px 0px 0px 20px;
    padding: 0px;
  }

  .cover {
    margin-top: 20px;
  }

  .cover small {
    margin: 0 24px;
    padding: 0px;
    width: 90%;
    font-size: 14px;
  }

  .incentive {
    margin: 50px 24px 12px 28px;
    width: 55%;
    padding: 0px;
  }

  .special {
    width: 50%;
    margin: 0 0 7px 12px;
    color: #fff;
    font-size: 15px;
    line-height: 21px;
  }

  .form-group {
    margin-bottom: 5px;
  }

  #form-wrapper {
    padding: 1px;
  }

  #new_user {
    margin: 0px;
    width: 80%;

    .submit {
    width: 100%;
    }
    .user_email {
      width: 100%;
      margin-bottom: 3px;
    }
    .btn {
      width: 100%;
      font-size: 15px;
    }
    .form-control {
      text-align: center;
    }
  }

  .cover footer {
    width: 0;  
  }
}
@media screen and (max-width: 420px){ 
  #refer {
    background-size: 700px;
    background-position-x: center;
    background-position-y: 230px;
  }
}
@media screen and (max-width: 414px){
  #new_user input {
    font-size: 16px !important;
  }
    #new_user .user_email {
   width: 51%;
  }

    #new_user .submit {
    width: 45%;
  }

  .contact-socials i.fa {
      font-size: 25px;
  }

  /* jrose start */
  #main  {
    background-position-x: 48%;
    background-size: 395%;
    background-position-y: center;
  }

  .cover-title {
    margin: 25px 10px 5px;
    padding: 10px;
    font-size: 55px;
    width: 75%;
    color: #fff;
    
  }
  .cover-subtitle {
    margin: 0px 0px 25px 12px;
    font-size: 18px;
    line-height: 26px;
    width: 70%;
  }

  .logo {
    width: 50%;
    max-width: 170px;
    margin: 35px 0px 0px 20px;
    padding: 0px;
  }

  .cover {
    vertical-align: top;
    margin-top: 20px;
  }

  .cover small {
    margin: 0 24px;
    padding: 0px;
    width: 90%;
    font-size: 16px;
  }

  .incentive {
    margin: 50px 24px 12px 28px;
    width: 55%;
    padding: 0px;
  }

  .special {
    width: 55%;
    margin: 0 0 7px 12px;
    color: #fff;
    font-size: 16px;
    line-height: 21px;
  }

  .form-group {
    margin-bottom: 5px;
  }

  #form-wrapper {
    padding: 1px;
  }

  #new_user {
    margin: 0px;
    width: 80%;

    .submit {
    width: 100%;
    }
    .user_email {
      width: 100%;
      margin-bottom: 3px;
    }
    .btn {
      width: 100%;
      font-size: 15px;
    }
    .form-control {
      text-align: center;
    }
  }

  .cover footer {
    width: 0;  
  }

  #refer {
    background-size: 700px;
    background-position-x: center;
    background-position-y: 230px;
  }

}

@media screen and (max-width: 375px){
  #new_user input {
    font-size: 16px !important;
  }
    #new_user .user_email {
   width: 51%;
  }

    #new_user .submit {
    width: 45%;
  }

  .contact-socials i.fa {
      font-size: 25px;
  }

  /* jrose start */
  #main  {
    background-position-x:48%;
  }

  .cover-title {
    margin: 28px 10px 10px;
    padding: 10px;
    font-size: 48px;
    width: 75%;
    /* color: #fff; */
  }
  .cover-subtitle {
    margin: 0px 10px 25px;
    padding: 0 10px;
    width: 76%;
    font-size: 17px;
    line-height: 24px;
  }

  .logo {
    width: 45%;
    max-width: 200px;
    margin: 30px 0px 35px 20px;
  }

  .cover small {
    margin: 10px 24px;
    width: 93%;
    font-size: 14px;
  }

  .incentive {
    margin: 48px 24px 0;
  }

  .special {
    margin: 5px 10px;
    padding: 0 10px;
    color: #fff;
  }

  .form-group {
    margin-bottom: 5px;
  }

  #new_user {
    margin: 0px;

    .submit {
    width: 100%;
    }
    .user_email {
      width: 100%;
      margin-bottom: 3px;
    }
    .btn {
      width: 100%;
    }
  }

  .cover footer {
    width: 0;  
  }

  #refer {
    background-size: 700px;
    background-position-x: center;
    background-position-y: 230px;
  }

}

/*
@media screen and (max-width: 370px) {
  #refer {
    background-size: 500%;
    background-position-x: center;
    background-position-y: -35%;
  }
}
*/
/*
@media screen and (max-width: 360px){
  #new_user input {
    font-size: 16px !important;
  }
    #new_user .user_email {
   width: 51%;
  }

    #new_user .submit {
    width: 45%;
  }

  .contact-socials i.fa {
      font-size: 25px;
  }

  /* jrose start */
  /*
  #main  {
    background-position-x: 48.5%;
  }

  .cover-title {
    margin: 28px 10px 5px;
    padding: 10px;
    font-size: 45px;
    width: 75%;
    /* color: #fff; */
    /*
  }
  .cover-subtitle {
  margin: 0px 0px 25px 0px;
  width: 80%;
  }

  .logo {
    width: 50%;
    max-width: 170px;
    margin: 30px 0px 35px 20px;
  }

  .cover small {
    margin: 10px 24px;
    width: 85%;
  }

  .incentive {
    margin: 48px 24px 0;
  }

  .special {
    margin: 5px 24px;
    color: #fff;
  }

  .form-group {
    margin-bottom: 5px;
  }

  #new_user {
    margin: 0px;

    .submit {
    width: 100%;
    }
    .user_email {
      width: 100%;
      margin-bottom: 3px;
    }
    .btn {
      width: 100%;
    }
  }

  .cover footer {
    width: 0;  
  }

}
*/
@media screen and (max-width: 350px) {
  #refer {
    background-size: 600px;
    background-position-x: center;
    background-position-y: 264px;
  }
}


@media screen and (max-width: 320px){
  #new_user input {
    font-size: 16px !important;
  }
    #new_user .user_email {
   width: 51%;
  }

    #new_user .submit {
    width: 45%;
  }

  .contact-socials i.fa {
      font-size: 25px;
  }

  /* jrose start */
  #main  {
    background-position-x: 48%;
  }

  .cover-title {
    margin: 28px 12px 0;
    padding: 12px;
    font-size: 45px;
    width: 75%;
    /* color: #fff; */
  }
  .cover-subtitle {
  margin: 0px 12px 15px;
  padding: 0 12px;
  width: 65%;
  }

  .logo {
    width: 46%;
    max-width: 200px;
    margin: 20px 0px 0px 20px;
  }

  .cover small {
    margin: 10px 24px;
    width: 85%;
  }

  .incentive {
    margin: 48px 24px 0;
    width: 60%;
  }

  .special {
    margin: 5px 12px;
    padding: 0 12px;
    color: #fff;
    width: 55%;
  }

  .form-group {
    margin-bottom: 5px;
  }

  #new_user {
    margin: 0px;

    .submit {
    width: 100%;
    }
    .user_email {
      width: 100%;
      margin-bottom: 3px;
    }
    .btn {
      width: 100%;
    }
  }

  .cover footer {
    width: 0;  
  }

  #refer {
    background-size: 600px;
    background-position-x: center;
    background-position-y: 262px;
  }

}

@media screen and (max-width: 300px){

    .contact-socials li {
      padding: 0 5px;
  }

  .contact-socials i.fa {
      font-size: 22px;
  }

	#new_user .btn{
		margin-left: auto;
	}

    #new_user .form-group{
    width: 100%;
  }

    #new_user .submit{
    margin-top: -15px;
  }

    .cover-title {
    font-size: 30px;
    /* jrose start */
    padding-left: 8px;
    padding-right: 16px;
    margin: 8px;
    /* jrose end */
  }
  
  .cover-subtitle {
    font-size: 16px;
    /* jrose start */
    padding-left: 16px;
    padding-right: 16px;
    line-height: 1.4;
    /* jrose end */
  }

    #new_user input {
      width: 100% !important;
      font-size: 18px !important;
  }
  /* jrose start */
  .incentive {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #form-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
}
